<!DOCTYPE html>
<html xmlns:th="http://>/thymeleaf.org">
<head>
    <title>
        HourTracker Register
    </title>
</head>
<body>
    <h2>Register for an account</h2>
      <h4>We don't use your email for anything, don't worry.</h4>

    <form action="" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        Name: <input type="text" th:field="${user.name}"/><br/>
        Email Address: <input type="text" th:field="${user.username}"/><br/>
        Password: <input type="password" th:field="${user.password}"/><br/>
        Confirm Password: <input type="password" id="confirmPassword"/><br/><br/>
        <button type="submit">Create Account</button>

    </form>
</body>
</html>